*.iml
.gradle
/local.properties
/build
/captures
.externalNativeBuild

temp/
Temp/
Obj/
UnityGenerated/
Library/
UserSettings/
thirdparty_BackUpThisFolder_ButDontShipItWithYourGame/
unity_build_logs/
sample-yandex-dependencies/
# IntelliJ directory
.idea/

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vs
.idea
*.tmp
*.pdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta

yandex-*.unitypackage
*.gradle.backup*
*.gradle.DISABLED*
*.properties.backup*
*.log

.DS_Store
*.sln.*.meta
*.sln.meta

/packages
admob-mobileads-mediation/Assets/Plugins/Android/*.aar

android-unity-library/
Logs/
Doxyfile
README.template